@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
.header_logo {
  background: #000;
  color: #fff;
  padding: 20px 0;
}
.header_logo p{
  margin: 0;
}
.header_logo a{

  color: #fff;
  font-size: 20px;
  border-bottom: 3px solid #fff;
  padding-bottom: 15px;
}
/* BOX LOGIN */
.box {
  position: relative;
  margin: auto;
  left: 0;
  z-index: 200;
  right: 0;
  width: 400px;
  color: #666;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}
#header {
  background: #B84236;
  position: relative;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
}
#cont-lock {
  width: 100%;
  height: 65px;
  position: relative;
}
.lock {
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  line-height: 65px;
  font-size: 28px;
}
#bottom-head {
  position: relative;
  background: #000;
  height: 35px;
}
#bottom-head::after {
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 7px solid white;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-top: 7px solid rgba(0, 0, 0, 0);
}
.box h1 {
  margin-left: 20px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  color: #cfd8dc;
  line-height: 35px;
}
.box button {
  background: #cfd8dc;
  border: 0;
  color: #B84236;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  width: 330px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
}
.box button:active {
  background: #B84236;
  color: #263238;
}
.box button:hover {
  background: #B84236;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.box p {
  font-size: 14px;
  text-align: center;
}
.group {
  position: relative;
  margin-bottom: 35px;
  margin-left: 40px;
}
.inputMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
.inputMaterial:focus {
  outline: none;
}
/* LABEL ======================================= */
label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #B84236;
}
/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #B84236;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width: 50%;
}
/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
#footer-box {
  width: 100%;
  height: 50px;
  background: #B84236;
}


#container-a {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 20px;
  right: 20px;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /*&:hover{
  width: 150px;
  border-radius: 50px;
  transition: $transition;
  }*/
}
.footer{
  background: #000;
  padding: 20px 0px;
  color: #fff;
}
.content_box{
    padding: 30px 0px;
    min-height: 550px
  }
  .formset{
  display: inline-block;
  width: 100%;
}


/*Admin Table Css starts*/
.header_user{
  background: #000;
  padding: 10px 0px;
  color:#fff;
  font-size: 20px;
}
.margin{
  margin: 0;
}
.padding{
  padding:0;
}
.set_padding{
  padding: 15px 0px;
}
/*Admin Table Css ends*/
