@charset "utf-8";
/* CSS Document */

*
{
 margin:0;
 padding:0;
}
body
{
 background:#f9f9f9;
 font-family:"Courier New", Courier, monospace;
}
#header
{
 width:100%;
 height:50px;
 background:#00a2d1;
 color:#f9f9f9;
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size:35px;
 text-align:center;
}
#header a
{
 color:#fff;
 text-decoration:blink;
}
.tbl_body
{
padding: 50px 0;
}
table td input[type="text"],input[type="date"],select{
	display: inline-block;
	width: 100%;
	font-size: 16px;
line-height: 28px;
}

.first-chld {
  background: #bc423b;
  color: #fff;
  border: none;
}

.first-chld {
  padding: 0 15px 0 20px;
}
.tbl_body .table>tbody>tr>th {
 	vertical-align: middle;
 }


.tbl_body .blue_btn {
    width: 30%;
    display: inline-block;
    padding: 12px;
    background-color: #757677;
    border:none;
}
.tb_cnter{
	background: rgba(220,220,220,.6)

}

